include header

body#page-top.main

    nav#mainNav.navbar.navbar-default.navbar-fixed-top
      include menu

    header

    div.container
      .row
        block content
          include right_sidebar

          
            
    div.footer
      include footer

    