include header

body#page-top.main

    nav#mainNav.navbar.navbar-default.navbar-fixed-top
      div.container
        div.navbar-header
            button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
                span(class="sr-only") Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(class="navbar-brand page-scroll", href="#page-top") Logo

        div.collapse.navbar-collapse#bs-example-navbar-collapse-1
            ul.nav.navbar-nav.navbar-right
                li
                 a(class="page-scroll", href="/") Home
                li
                 a(class="page-scroll", href="/aboutus") About
                li
                 a(class="page-scroll", href="/#services") Services
                li
                 a(class="page-scroll", href="/#our-team") Our Team
                li
                 a(class="page-scroll", href="/#our-prices") Pricing
                li
                 a(class="page-scroll", href="#contact") Contact

    header

    div.container
      .row
        block content

            
    div.footer
      include footer

    