.col-lg-3.col-md-3.col-sm-5.blog
  block right-sidebar
    div.blog-header
      h3 Blog Post
    div.blog-list
      each post in site.views.posts.all()
        div.list
          a(href=post._url).post
            h5= post.title
          date= post.date
        
          // != post.content