header
  div.header-content
    div.header-content-inner
      h1 Create Your Portfolio With Us
      hr
      p WebriQ can help you build better websites using the Bootstrap CSS framework!</p>
      a(href="#about", class="btn btn-primary btn-xl page-scroll") Find Out More
      
ul#cbp-bislideshow.cbp-bislideshow
  li
    img(src="../img/header.jpg", alt="image01")
  li
    img(src="../img/header2.jpg", alt="image02")
         
div#cbp-bicontrols.cbp-bicontrols
  span.cbp-biprev
  span.cbp-bipause
  span.cbp-binext

      
      