extends layout

block content
  section.bg-primary#about
    div.container
      div.row
        div.col-lg-8.col-lg-offset-2.text-center
          h2(class="section-heading") We've got what you need!
          hr.light
          p.text-faded WebriQ has everything you need to get your new website up and running in no time! All of the templates and themes on WebriQ are open source, free to download, and easy to use. No strings attached!
          a(href="./aboutus.html" class="btn btn-default btn-xl") Get Started!

  section#services
    div.container
      div.row
        div.col-lg-12.text-center
          h2.section-heading At Your Service
          hr.primary
                
    div.container
      div.row
        div.col-lg-3.col-md-6.text-center
          div.service-box
              i.fa.fa-4x.fa-diamond.wow.bounceIn.text-primary
              h3 Sturdy Templates
              p.text-muted Our templates are updated regularly so they don't break.


        div.col-lg-3.col-md-6.text-center
          div.service-box
              i.fa.fa-4x.fa-paper-plane.wow.bounceIn.text-primary(data-wow-delay=".1s")
              h3 Ready to Ship
              p.text-muted You can use this theme as is, or you can make changes!
                  
        div.col-lg-3.col-md-6.text-center
          div.service-box
              i(class="fa fa-4x fa-newspaper-o wow bounceIn text-primary", data-wow-delay=".2s")
              h3 Up to Date
              p.text-muted We update dependencies to keep things fresh.
                  
        div.col-lg-3.col-md-6.text-center
          div.service-box
              i(class="fa fa-4x fa-heart wow bounceIn text-primary", data-wow-delay=".3s")
              h3 Made with Love
              p.text-muted You have to make your websites with love these days!

  section.no-padding#portfolio
    div.container-fluid
      div.row.no-gutter
        div.col-lg-4.col-sm-6
          a(href="/project" class="portfolio-box")
            img(src="img/portfolio/1.jpg", class="img-responsive", alt="")
            div.portfolio-box-caption
              div.portfolio-box-caption-content
                div.project-category.text-faded Category
                div.project-name Project Name
                      
        div.col-lg-4.col-sm-6
          a(href="/project" class="portfolio-box")
            img(src="img/portfolio/2.jpg", class="img-responsive", alt="")
            div.portfolio-box-caption
              div.portfolio-box-caption-content
                div.project-category.text-faded Category
                div.project-name Project Name

        div.col-lg-4.col-sm-6
          a(href="/project", class="portfolio-box")
            img(src="img/portfolio/3.jpg", class="img-responsive", alt="")
            div.portfolio-box-caption
              div.portfolio-box-caption-content
                div.project-category.text-faded Category                            
                div.project-name Project Name
                                
        div.col-lg-4.col-sm-6
          a(href="/project" class="portfolio-box")
            img(src="img/portfolio/4.jpg", class="img-responsive", alt="")
            div.portfolio-box-caption
              div.portfolio-box-caption-content
                div.project-category.text-faded Category
                div.project-name Project Name
                                
        div.col-lg-4.col-sm-6
          a(href="/project" class="portfolio-box")
            img(src="img/portfolio/5.jpg", class="img-responsive", alt="")
            div.portfolio-box-caption
              div.portfolio-box-caption-content
                div.project-category.text-faded Category
                div.project-name Project Name
                                
        div.col-lg-4.col-sm-6
          a(href="/project" class="portfolio-box")
            img(src="img/portfolio/6.jpg", class="img-responsive", alt="")
            div.portfolio-box-caption
              div.portfolio-box-caption-content
                div.project-category.text-faded Category
                div.project-name Project Name
  section#our-team
    div.container
      div.row
        div.col-lg-12.text-center
          h2.section-heading Meet Our Team
          hr.primary

    div.container
      div.row
        div.col-lg-4.col-md-6.text-center
          div.team-box.text-center
              img(src="img/john.jpg", class="img-responsive", alt="")
              h4 John Doe
              p
                strong APPz Architect
              p.text-muted Our templates are updated regularly so they don't break.


        div.col-lg-4.col-md-6.text-center
          div.team-box.text-center
              img(src="img/karoline.jpg", class="img-responsive", alt="", data-wow-delay=".1s")
              h4 Karoline Dee
              p
                strong Creative Manager
              p.text-muted You can use this theme as is, or you can make changes!
                  
        div.col-lg-4.col-md-6.text-center
          div.team-box.text-center
              img(src="img/zack.jpg", class="img-responsive", alt="", data-wow-delay=".2s")
              h4 Zack Woo
              p
                strong User Advocate
              p.text-muted We update dependencies to keep things fresh.        

  section#our-prices
    div.container
      div.row
        div.col-lg-12.text-center
          h2.section-heading Our Prices
          hr.primary
          p We understand your requirement and provide quality works.

    div.container
      div.row.packages
  
        div.col-lg-4.col-md-4
          div(class="single-package green-line-top white-bg diffuse-shadow wow fadeInLeft", data-wow-offset="30", data-wow-duration="1.5s", data-wow-delay="0.15s", style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.15s; animation-name: fadeInLeft;")

            h5 Basic 

            div.price-circle-green
              h4.white-text $12
              <!-- PRICE -->
              div.extra-small-text.white-text Per Month

            ul.feature-list
              li
                span.icon.icon-icon-check Single License
              li
                span.icon.icon-icon-check One Website
              li
                span.icon.icon-icon-check Basic Support

            a(href="", class="btn btn-default standard-button green-outline") Get Started

        div.col-lg-4.col-md-4
          div(class="single-package red-line-top white-bg diffuse-shadow wow fadeInUp", data-wow-offset="30", data-wow-duration="1.5s", data-wow-delay="0.15s", style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.15s; animation-name: fadeInUp;")
            h5 Pro 

            div.price-circle-red
              h4.white-text $24
              <!-- PRICE -->
              div.extra-small-text.white-text Per Month

            ul.feature-list
              li
                span.icon.icon-icon-check Multiple Licenses
              li
                span.icon.icon-icon-check Unlimited Websites
              li
                span.icon.icon-icon-check 24/7 Customer Support

            a(href="", class="btn btn-default standard-button red-button") Get Started
        
        <!-- SINGLE PACKAGE -->
        div.col-lg-4.col-md-4
          div(class="single-package purple-line-top white-bg diffuse-shadow wow fadeInRight", data-wow-offset="30", data-wow-duration="1.5s", data-wow-delay="0.15s", style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.15s; animation-name: fadeInRight;")
            h5 Premium

            div.price-circle-purple
              h4.white-text $199
              <!-- PRICE -->
              div.extra-small-text.white-text Per Month

            ul.feature-list
              li
                span.icon.icon-icon-check Extended License
              li
                span.icon.icon-icon-check Unlimited Websites
              li
                span.icon.icon-icon-check 24/7 Customer Support

            a(href="", class="btn btn-default standard-button purple-outline") Get Started

     

              