include includes/header

body#page-top

  nav#mainNav.navbar.navbar-default.navbar-fixed-top
    include includes/menu

  div.main
    include includes/widget-slider

  div.main-container
    block content

  div.footer
    include includes/footer


script(src="../js/color-switcher.js")