extends _layouts/main_layout

block prepend content
  div.col-lg-9.col-md-9.col-sm-7.content
    h2.title Project Template
    div.olx-carousel
      img(class="olx-lazy", data-src="../img/portfolio/projec-1.jpg", data-src-retina="../img/portfolio/projec-1.jpg", alt="")
      img(class="olx-lazy", data-src="../img/portfolio/projec-2.jpg", data-src-retina="../img/portfolio/projec-2.jpg", alt="")

    <div class="addthis_sharing_toolbox"></div>
    <div id="disqus_thread"></div>
  