extends _layouts/main_layout

block prepend content
  div.col-lg-8.col-md-8.col-sm-7.content
    h2 Our Services
    
    p We succeed in the best interests of our clients”

    p  Since 1995 I have been fascinated by Real Estate. Upon leaving school like many others entering the real world for the first time, I had no money, no experience and no real direction, however I knew Real Estate investing was my calling and helping others my desire.

    p  Since 2006 the Giumelli Group has been helping people succeed in Property by delivering high quality education, information & property to suit any dream. For over 18 years, I’ve immersed myself in all things Real Estate, trying our hand at many different strategies and ways to develop a multi-million dollar real estate portfolio.

    p  We succeed in the best interests of our clients, a motto we live and die by as your success is our importance.

    p  Many years ago we discovered the magic of buying in bulk and ever since we have applied this strategy to everything we do as a company, which is our niche in the market. By delivering property and products this way it enables our clients to build wealth quicker along with providing a suite of products to de-risk any investment.

    p  Our dedicated team have more than 60 years collective expertise in the fields of Real Estate, Property Investment, Finance, Property Development, Tax Minimisation, Effective Structuring, Project Management and Rental along with an extended network of experts to assist with everything else.

    p  We deliver high quality education, information & Real Estate at Wholesale Prices with a suite of products to de-risk any investment. Our team has more than 60 year’s collective experience in Real Estate Investing, Finance, Property Development, Tax Minimisation, Effective Structuring and Project Management.

    p  With over 5000 properties at our fingertips, we accommodate all types of buyers from first time Property Investors through to experienced Property Developers and our record speaks for itself..