a, .navbar-default.affix .navbar-header .navbar-brand, .navbar-default .nav > li.active>a, .navbar-default .nav>li.active>a:focus, .navbar-default.affix .nav > li>a:hover, .navbar-default.affix .nav>li>a:focus:hover, .navbar-default.affix .navbar-header .navbar-brand:hover, .navbar-default.affix .navbar-header .navbar-brand:focus, .navbar-default .nav > li>a:hover, .navbar-default .nav>li>a:focus:hover ,.text-primary{
  color: #6c91c5;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary{
  background-color: #6384B3;
}

.portfolio-box .portfolio-box-caption{
 background-color: rgba(108, 145, 197, 0.8);

}
 
hr{
  border-color: #6c91c5;
}
 
.btn-primary, .bg-primary {
  background-color: #6c91c5;
} 

a:hover, a:focus{
  color: #6384B3;
}