/* 
 *  olx Carousel - Animate Plugin
 */

.olx-carousel .olx-controls .olx-dots > div{
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  -ms-border-radius:50%;
  padding:7px;
  display:inline-block;
  margin:3px;
  background-color:#e0e0e0
}
.olx-carousel .olx-controls .olx-dots > div.active{
   background-color:#039be5;
}

.olx-carousel .olx-controls{
  width:100%;
  text-align:center;
  padding-top:5px;
}

.olx-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.olx-carousel .olx-animated-in {
  z-index: 0;
}
.olx-carousel .olx-animated-out {
  z-index: 1;
}
.olx-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 
 * 	olx Carousel - Auto Height Plugin
 */
.olx-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* 
 *  Core olx Carousel CSS File
 */
.olx-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
  margin-bottom:10px;
}
.olx-carousel .olx-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.olx-carousel .olx-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.olx-carousel .olx-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.olx-carousel .olx-controls .olx-nav .olx-prev,
.olx-carousel .olx-controls .olx-nav .olx-next,
.olx-carousel .olx-controls .olx-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.olx-carousel.olx-loaded {
  display: block;
}
.olx-carousel.olx-loading {
  opacity: 0;
  display: block;
}
.olx-carousel.olx-hidden {
  opacity: 0;
}
.olx-carousel .olx-refresh .olx-item {
  display: none;
}
.olx-carousel .olx-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.olx-carousel .olx-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.olx-carousel.olx-text-select-on .olx-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.olx-carousel .olx-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.olx-carousel.olx-rtl {
  direction: rtl;
}
.olx-carousel.olx-rtl .olx-item {
  float: right;
}

/* No Js */
.no-js .olx-carousel {
  display: block;
}

/* 
 * 	olx Carousel - Lazy Load Plugin
 */
.olx-carousel .olx-item .olx-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.olx-carousel .olx-item img {
  transform-style: preserve-3d;
}

/* 
 * 	olx Carousel - Video Plugin
 */
.olx-carousel .olx-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.olx-carousel .olx-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("olx.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.olx-carousel .olx-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.olx-carousel .olx-video-playing .olx-video-tn,
.olx-carousel .olx-video-playing .olx-video-play-icon {
  display: none;
}
.olx-carousel .olx-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.olx-carousel .olx-video-frame {
  position: relative;
  z-index: 1;
}
