doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Content Manager

    link(rel="icon", href= records.site.sitedata[0].icon, type="image/png")
    link(rel="shortcut icon", href= records.site.sitedata[0].icon, type="img/x-icon")
    link(rel="stylesheet", href="//cms.netlify.com/assets/cms.css")
    link(rel="stylesheet", href="/css/skel.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/style-desktop.css")
    link(rel="stylesheet", href="/css/webriq-template.css")


    style.
      .container {
        width: auto;
        max-width: 1200px;
      }
      body.ember-application .cms-list-entry,
      body.ember-application .cms-preview-pane {
        background: #fff;
      }
      .cms.cms-navbar-top.cms-text .cms.cms-inline-list li:first-child{
        display:none;
        }
    script!= "CMS_ENV = \"" + (process.env.CMS_ENV || "development") + "\";"

    base(href="/admin/")
  body

    script(src="//cms.netlify.com/assets/vendor.js")
    script(src="//cms.netlify.com/assets/cms.js")
    script(src="/js/custom-admin.js")