---
title: 'STATIC MODE'
date: 1/5/2014
---

extends ../single-post-layout

block content
  div.col-lg-9.col-md-9.col-sm-7.content
    h2 Static Mode
    p Static mode is the default mode for Tipue Search, and also the fastest. We recommend using Static mode wherever possible.
    p Static mode can be used without a web server, and without an internet connection if you load jQuery locally.

    p You don't have to have a file named tipuesearch_content.js, or even a file at all, but you must have a tipuesearch JavaScript object containing your site content. It must also exist before you load tipuesearch.min.js.
  
