---
title: 'GETTING STARTED'
date: 1/2/2014
---

extends ../single-post-layout

block content
  div.col-lg-9.col-md-9.col-sm-7.content
    h2 Getting Started
    p If you haven't already done so, download Tipue Search and copy the tipuesearch folder to your site.
    p Tipue Search usually consists of two parts, the search box and the results page which displays the search results. To create a search box, the following should be included in the head section of your page.

    p If you haven't already done so, download Tipue Search and copy the tipuesearch folder to your site.
    p Tipue Search usually consists of two parts, the search box and the results page which displays the search results. To create a search box, the following should be included in the head section of your page.

  
