---
title: 'INTRODUCTION'
date: 1/3/2014
---

extends ../single-post-layout

block content
  div.col-lg-12.content
    h2 Introduction
    p Tipue Search is a site search engine jQuery plugin. It's free, open source, responsive and fast.
    p Like jQuery, Tipue Search is released under the MIT License. It's free for both commercial and non-commercial use.
    p Tipue Search uses various modes for loading content. Static mode uses a JavaScript object, while JSON mode uses JSON. Live mode grabs content from a list of pages dynamically.
    p We have demos of Static and Live modes.

  

